examples/coursera-ml-yandex-master/5th_course_Data_Analysis_applications/Tutors/Lekcii-5 kurs.Prikladnye zadachi analiza dannyh/2-3. Prakticheskie zadachi komp'yuternogo zreniya/4. Sbor bol'shih kollekcij izobrazhenij.pdf

c2/HW/5 data preparation and logistic regression/\.ipynb_checkpoints/

examples/
